body {
  margin: 0;
  background-color: #f7fafb;
  font-family: Georgia, Helvetica, sans-serif;
}

.linechart-path {
	fill: none;
	stroke-width: 1.5pt;
}

.beeswarm-gridline {
	stroke: black;
	stroke-width: 2px;
}

.candlestick {
    fill: none;
    stroke-width: 1.5pt;
}

#playback-div {
	display: flex;
	flex-direction: row;
}

#beeswarm-tooltip {
	background-color: white;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	display: block;
	position: absolute;
}

#beeswarm-key-circle {
	stroke: gray;
	stroke-width: 2;
	fill: none;
}

.yAxis,
.xAxis {
  font-size: 1.5em;
}

.container {
  margin-left: 3.5em;
}

.title {
  font-size: 4em;
}

.tl {
    position: absolute;
    top: 0;
    left: 0;
    right: 30%;
    bottom: 10%;
    background: white;
    border: solid #000;
    border-width: 0 10px 10px 0;
}

.tr {
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 30%;
    background: lightblue;
    border: solid #000;
    border-width: 0 0 10px 0;
}

.bl {
    position: absolute;
    top: 90%;
    left: 0;
    right: 30%;
    bottom: 0;
    background: gray;
    border: solid #000;
    border-width: 0 10px 0 0;
}

.br {
    position: absolute;
    top: 70%;
    left: 70%;
    right: 0;
    bottom: 0;
    background: lavender;
    border: solid #000;
    border-width: 0 3px 3px 0;
} 

.playback-button{
    padding: 15px 32px;
    border-radius: 2px;
}
.playback-button:hover{
  background-color: grey;
}
