/* The sidebar menu, from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
	/*height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .title {
	color: white;
	font-size: 30px;
}

body {
	margin: 0;
	background-color: #f7fafb;
	font-family: Georgia, Helvetica, sans-serif;
}

.column-box {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: center;
}

.row-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: center;
}

.boxitem {
	margin: 5px;
	padding: 5px;
}

.beeswarm-div {
}

.table-div {
}

#playback-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: flex-start;
	align-items: baseline;
}

.ohlc-div {
}

.linechart-path {
	fill: none;
	stroke-width: 1.5pt;
}

.linechart-positive-tick {
	fill: green;
	stroke: green;
}

.linechart-neutral-tick {
	fill: black;
	stroke: black;
}

.linechart-negative-tick {
	fill: red;
	stroke: red;
}

.beeswarm-gridline {
	stroke-width: 1px;
}

.beeswarm-gridline-0line {
	stroke: gray;
	stroke-width: 2px;
}

.candlestick {
	fill: none;
	stroke-width: 1.5pt;
}

.dateaxis-text {
	text-anchor: start;
}

#beeswarm-tooltip {
	background-color: white;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	display: block;
	position: absolute;
}

#beeswarm-key-circle {
	stroke: gray;
	stroke-width: 2;
	fill: none;
}

/* the single ticker that is being shown in the ohlc which has been clicked */
.beeswarm-single-selected-ticker {
	stroke-width: 1;
	stroke: black;
}

.yAxis,
.xAxis {
	font-size: 1.5em;
}

.container {
	margin-left: 3.5em;
}

.chart-y-axis-background {
	fill: white;
}

.title {
	font-size: 4em;
}

.playback-button {
	padding: 0px 32px;
	border-radius: 9px;
}
.playback-button:hover {
	background-color: grey;
}

.playback-line {
	stroke-width: 2;
	stroke: black;
}

.playback-line-hovered {
}

.playback-line-scrubbing {
}

.sector-select-rect {
	stroke: black;
	stroke-width: 1;
	fill: beige;
	cursor: pointer;
}

.sector-select-rect-hovered {
	stroke-width: 2;
}

.sector-select-rect-selected {
	stroke-width: 2;
}

.sector-select-text-label {
	text-align: end;
	font-size: small;
}

svg text {
	pointer-events: none;
}

#details {
	border-radius: 2px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
